<html>

  <head>
    <script src="lib/angular/angular.min.js"></script>
    <script src="dist/angular-select.min.js"></script>
    <script src="script.js"></script>
  </head>

  <body ng-app="myApp">
    <div ng-controller="myCtrl">
      <!-- simple select -->
      <p>
        simple regular select - <br>
        <select>
            <option>ondu</option>
            <option>yaradu</option>
            <option>mooru</option>
        </select>
      </p>

      <!-- angular select - will be fired even when user selects the same value -->
      <p>
        angular select - will be fired even when user selects the same value - <br>
        <select ng-model="secondDropDownValue" as-select="testFunc(secondDropDownValue);">
            <option>ondu</option>
            <option>yaradu</option>
            <option>mooru</option>
        </select>
      </p>
      
      <!-- angular select with autoFocusOff -->
      <p>
        angular select with autoFocusOff - <br>
        <select as-select="autoFocusOff">
            <option>ondu</option>
            <option>yaradu</option>
            <option>mooru</option>
        </select>
      </p>

      <!-- angular select with autoFocusOff -->
      <p>
        angular select with autoFocusOff - <br>
        <select ng-model="thirdDropDownValue" as-select="autoFocusOff; testFunc(thirdDropDownValue);">
            <option>ondu</option>
            <option>yaradu</option>
            <option>mooru</option>
        </select>
      </p>
    </div>
    <div>
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbage garbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
      garbagegarbagegarbagegarbagegarbagegarbagegarbagegarbage
    </div>
  </body>

</html>